.pfp{
    background-color: gray;
    background-image: url("pro.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}
.container{
    margin-top : 40px; 
}
.row{
    padding-bottom: 40px;
    border-bottom: 2px solid gray;
}
.profile_data{
    margin-top: 40px;
    width: calc(100%/4);
    float: left;
}
.bio{
    width: 100%;
    margin-top: 40px;
    float: left;
}
.picture{
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: auto;
    margin: 20px;
}
.picture img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.picture div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
    visibility: hidden;
    
}
.picture:hover > div {
    visibility: visible;
    cursor: pointer;
}